:root {
    --primary-color: #2442a3;
    --primary-color-dark: #1c3483;
    --primary-background-color: #eee;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: var(--primary-background-color);
    margin: 15px 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body > * {
    margin-inline: auto;
}

.hangman {
    position: relative;
    width: 400px;
    height: 340px;
    margin-block: 75px 40px;
}

.hangman > * {
    position: absolute;
}

label {
    display: block;
    margin-bottom: 5px;
}

.selected-word {
    letter-spacing: 10px;
}

.guess-prompt {
    margin-bottom: 40px;
}

.shape {
    border: 6px solid black;
}

.top {
    width: 160px;
    height: 40px;
    border-bottom: none;
    left: 50%;
    transform: translateX(-50%);
}


.stem {
    width: 10px;
    height: 300px;
    border-block: none;
    border-left: none;
    right: 30%;
    top: 8%;
}

.base {
    width: 300px;
    height: 10px;
    border-inline: none;
    border-bottom: none;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.6%;
}

.pieces {
    width: 150px;
    height: 250px;
    left: 12%;
    top: 13%;
}

.pieces > * {
    position: absolute;
}

.head {
    width: 60px;
    height: 70px;
    border-radius: 100%;
    top: 1%;
    left: 50%;
    transform: translate(-50%);
}

.torso {
    width: 10px;
    height: 80px;
    border-block: none;
    border-right: none;
    top: 29%;
    left: 48%;
}

.left-arm {
    width: 72px;
    height: 10px;
    top: 40%;
    border-inline: none;
    border-bottom: none;
}

.right-arm {
    width: 72px;
    height: 10px;
    top: 40%;
    right: 0;
    border-inline: none;
    border-bottom: none;
}

.left-leg {
    width: 100px;
    height: 10px;
    top: 76%;
    left: 0.5%;
    transform: rotate(-60deg);
    border-inline: none;
    border-bottom: none;
}

.right-leg {
    width: 100px;
    height: 10px;
    top: 76%;
    left: 32.5%;
    transform: rotate(60deg);
    border-inline: none;
    border-bottom: none;
}